header{
  margin-bottom: 20px;
}
section{
  margin: 40px 0;
}
section>.pure-g{
  margin: 0 auto;
  max-width:  800px;
  width: 98%;
}
@media screen and (min-width: 35.5em){
  section>.pure-g{
    width: 100%;
  }
}
a{
  color: #0288D1;
  text-decoration: none
}
a:hover, a:active{
  color: #29B6F6;
  text-decoration: underline;
}
.pure-button:hover, .pure-button:active{
  text-decoration: none;
}
.pure-button-primary:hover, .pure-button-primary:active{
  color: #fff;
}